body {
  padding: 1em;

  font-family: Helvetica, sans-serif;
}
table {
  width: 100%;
  margin: 1em 0;

  border-collapse: collapse;
}
th,
td {
  padding: 0.5em;

  border: solid 0.5px #999;
}
th,
th[scope='colgroup'],
th[scope='col'] {
  text-align: center;
  vertical-align: top;
}
th[scope='rowgroup'],
th[scope='row'] {
  text-align: left;
}
th[scope='row'],
th.spacer {
  border-right: solid 3px black;
}
th[scope='col'],
th.spacer {
  border-bottom: solid 3px black;
}

td.cell {
  text-align: center;
}

/** DEBUG **/
/*
th[scope='colgroup'],
th[scope='rowgroup'] {
  background: orange;
}
th[scope='col'],
th[scope='row'] {
  background: yellow;
}
*/
th:not([scope]):not(.spacer) {
  background: red;
}
